

$color-primary:#1B3764;
$color-secondary:#FFCA42;
$white:#ffff;
$gray:#F4F8FF;
$paragraph:#969AA0;

$cardo:'cardo';
$cardo-italic:'cardo-italic';
$poppins:'poppins';
$poppins-regular:'poppins-regular';